.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

.data {
    display: flex;
    justify-content: center;
}

.info {
    flex: 1;
}

.info div {
    font-size: 20px;
    margin: 5px;
}

.avatarContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    width: 350px; 
    height: auto;
}