.data-display {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.info-blocks {
    display: flex;
    justify-content: space-between; 
}

.info-block {
    flex: 2;
    margin-right: 10px; 
}

.info-block:last-child {
    margin-right: 0; 
}

.info-block h3 {
    margin-top: 0;
}

.avatar {
    width: 100px;
    height: 100px;
}

.select, .select-sort, .button-form-edit  {
    background-color: #9dc5f5;
    color: white;
    border: none;
    padding: 10px 7px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 200px; 
    transition: background-color 0.3s;
    position: absolute;
    top: 50px;
}

.select {
    left: 460px; 
}

.select-sort { 
    left: 680px; 
}

.select:hover, .select-sort:hover {
    background-color: #7ba3d3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: relative; 
    margin-bottom: 2px;
}

.button-form-edit {
    margin: 5px 5px;
}